span.google-plus {
  white-space: nowrap;
}
span.google-plus a {
  background-image: url('chrome-extension://ellpglpgjfcfppiljfokjoconaheaiff/images/gplus_small.gif');
  background-repeat: no-repeat;
  padding: 1px 8px 1px 18px;
}